<div
  class="bg-gradient-to-r from-stone-100 to-stone-200 rounded border border-stone-300 shadow shadow-purple-200 p-3 mb-2"
  *ngIf="hero"
>
  <h2 class="text-xl">{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input
      class="border border-stone-500 bg-stone-300 p-1 rounded focus:outline-stone-500"
      id="hero-name"
      [(ngModel)]="hero.name"
      placeholder="name"
    />
  </div>
</div>
