<h2 class="text-2xl mb-3">My Heroes</h2>
<div class="flex flex-col md:flex-row md:items-center">
  <div class="flex flex-row mb-5 md:mr-10">
    <ul class="heroes space-y-4 sm:columns-3">
      <li *ngFor="let hero of heroes">
        <a
          class="bg-blue-600 text-stone-100 py-2 px-3 rounded hover:bg-blue-700 shadow"
          routerLink="/detail/{{ hero.id }}"
        >
          <span>{{ hero.id }}</span> {{ hero.name }}
        </a>
      </li>
    </ul>
  </div>

  <app-hero-form></app-hero-form>
</div>
