@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  @apply border-4 border-neutral-500 border-t-blue-400 rounded-full w-10 h-10;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
